In [1]:
try:
    if 5 / 0:
        print("zero")
except ZeroDivisionError:
    print("expect")

expect

In [3]:
try:
    print("3" + 4)
except:
    print("expect")

expect

In [6]:
try:
    print(int("10"))
    print(int("ten"))
except:
    print("expect")

10
expect

In [8]:
try:
    print(variable)
    variable = "ali"
except:
    print("expect")

expect

In [9]:
try:
    for i in range('x'):
        print(i)
except:
    print("expect")

expect

In [10]:
lisst = [7,14,13,28,7,8,6,12,25,7,4]

In [11]:
lisst = sorted(lisst)

In [12]:
lisst

[4, 6, 7, 7, 7, 8, 12, 13, 14, 25, 28]

In [4]:
try :
    print("x" + "4")
except :
    print("expect")

x4

In [10]:
count = 0

In [14]:
try :
    open("fsfs.txt")
except FileNotFoundError:
    count += 1
    with open("hata.txt", "a", encoding = "utf-8") as f:
        f.write("hatalı giriş sayısı: " + str(count) + "\n")
    print("there is not such a file or the path is incorret")

there is not such a file or the path is incorret

In [15]:
while True:
    try :
        f_number = int(input("the first number"))
        s_number = int(input("the first number"))
        division = f_number / s_number
    except ZeroDivisionError:
        print("you cannot divide a number to zero")
    except ValueError:
        print("you shoul enter a number")
    except Exception as e:
        print("probably it is because of '{}' error".format(e))
    else:
        print("your result:", division)
    finally:
        print("thanks for using calculation")
        break

the first number6
the first number2
your result: 3.0
thanks for using calculation

In [16]:
try :
    name = input("isminizi girniz")
    int("bes")
except Exception as e:
    with open("hata1.txt", "a", encoding = "utf-8") as f:
        f.write(name + ",{}".format(e) + "\n")

isminizi girnizmehmet

In [17]:
try :
    name = input("isminizi girniz")
    4 / 0
except Exception as e:
    with open("hata1.txt", "a", encoding = "utf-8") as f:
        f.write(name + ",{}".format(e) + "\n")

isminizi girnizali

In [18]:
try :
    name = input("isminizi girniz")
    4 + "4"
except Exception as e:
    with open("hata1.txt", "a", encoding = "utf-8") as f:
        f.write(name + ",{}".format(e) + "\n")

isminizi girnizayse

In [19]:
try :
    name = input("isminizi girniz")
    a
except Exception as e:
    with open("hata1.txt", "a", encoding = "utf-8") as f:
        f.write(name + ",{}".format(e) + "\n")

isminizi girnizcan

In [22]:
with open("hata1.txt", "r", encoding = "utf-8") as f:
    print(f.read())

mehmet,invalid literal for int() with base 10: 'bes'
ali,division by zero
ayse,unsupported operand type(s) for +: 'int' and 'str'
can,name 'a' is not defined

In [23]:
import pandas

In [26]:
df = pandas.read_csv("hata1.txt")

df

     isim                                               hata
0  mehmet      invalid literal for int() with base 10: 'bes'
1     ali                                   division by zero
2    ayse  unsupported operand type(s) for +: 'int' and '...
3     can                            name 'a' is not defined

In [30]:
df.isim.value_counts()

can       1
ayse      1
mehmet    1
ali       1
Name: isim, dtype: int64

In [33]:
fruits = ["banana", "mango", "pear"]
count = 3
while count != 0:
    try:
        count -= 1
        index_number = int(input("enter the index of your product"))
        print("my favorite fruit is " + fruits[index_number])
    except IndexError:
        print("there is no such index")
        print("you have {} right left".format(count))
    except ValueError:
        print("enter a number")
        print("you have {} right left".format(count))
    except:
        print("somethingelse went wrong")
        print("you have {} right left".format(count))
    else:
        print("congrat you enter a valid input")
        break
    finally:
        print("our fruits are always fresh")

enter the index of your product5
there is no such index
you have 2 right left
our fruits are always fresh
enter the index of your productbes
enter a number
you have 1 right left
our fruits are always fresh
enter the index of your product2
my favorite fruit is pear
congrat you enter a valid input
our fruits are always fresh

In [38]:
xx = {"e": 4, "b": 2, "c": 3}

sorted(xx.items(), key = lambda x : x[1])

[('b', 2), ('c', 3), ('e', 4)]

In [45]:
a = (x ** 2 for x in [1,2,3,4,5])

In [46]:
list(a)

[1, 4, 9, 16, 25]

In [47]:
sum(x ** 2 for x in [1,2,3,4,5])

55

In [48]:
max(x ** 2 for x in [1,2,3,4,5])

25