In [1]:
pwd

'/Users/aydin/GIT/python_lesson/Nots'

In [3]:
my_file = open("first_file.txt")

In [5]:
sea = open("fisches.txt", "r")

In [6]:
print(sea.read())

In [7]:
sea.close()

In [1]:
import pandas as pd
import sqlite3

In [33]:
!del uebung.db

/bin/sh: del: command not found

In [34]:
conn = sqlite3.connect('uebung.db')

In [35]:
cursor = conn.cursor()

In [36]:
cursor.execute('')

In [37]:
conn.commit()

In [38]:
sql = '''CREATE TABLE IF NOT EXISTS INTERNATIONAL_STUDENT_TEST_SCORE(
    COUNTRY CHAR (50) NOT NULL,
    FIRST_NAME CHAR (50),
    LAST_NAME CHAR(50),
    TEST_SCORE INT
    )'''
cursor.execute(sql)

In [39]:
sql = """INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORE (country, first_name, last_name, test_score)
VALUES
('United States','Marshall', 'Bernadot', 54),
('Ghana','Celinda', 'Malkin', 51),
('Turkey','Ali', 'Yilmaz', 52),
('Germnay','Markus', 'Muller', 53),
('England','Check', 'Tor', 50),
('Korea','Yoo', 'Len', 56)

"""

cursor.execute(sql)

In [51]:
sql = """INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORE (country, first_name, last_name, test_score)
VALUES
('United States','Marshall', 'Bernadot', 54),
('Ghana','Celinda', 'Malkin', 51),
('Turkey','Ali', 'Yilmaz', 52),
('Germnay','Markus', 'Muller', 53),
('England','Check', 'Tor', 50),
('Korea','Yoo', 'Len', 56),
('Korea','Yoo', 'Len', 51),
('Korea','Yoo', 'Len', 53),
('Korea','Yoo', 'Len', 51)

"""

cursor.execute(sql)

In [41]:
sql = """ PRAGMA table_info(INTERNATIONAL_STUDENT_TEST_SCORE)
"""

cursor.execute(sql)
result = cursor.fetchall()
result

[(0, 'COUNTRY', 'CHAR (50)', 1, None, 0),
 (1, 'FIRST_NAME', 'CHAR (50)', 0, None, 0),
 (2, 'LAST_NAME', 'CHAR(50)', 0, None, 0),
 (3, 'TEST_SCORE', 'INT', 0, None, 0)]

In [42]:
type(result)

list

In [43]:
sql = """
    select *
    from INTERNATIONAL_STUDENT_TEST_SCORE
    where COUNTRY = 'Ghana'
"""

cursor.execute(sql)
result = cursor.fetchall()
result

[('Ghana', 'Celinda', 'Malkin', 51), ('Ghana', 'Celinda', 'Malkin', 51)]

In [45]:
sql = """
    select country, test_score, count(test_score) as "count_test_score"
    from INTERNATIONAL_STUDENT_TEST_SCORE
    group by test_score, country
    
"""

cursor.execute(sql)
result = cursor.fetchall()
result

[('England', 50, 2),
 ('Ghana', 51, 2),
 ('Turkey', 52, 2),
 ('Germnay', 53, 2),
 ('United States', 54, 2),
 ('Korea', 56, 5)]

In [31]:
cursor.close()

In [46]:
sql = """
    select country, test_score, max(test_score) as "max_test_score"
    from INTERNATIONAL_STUDENT_TEST_SCORE
    
    
"""

cursor.execute(sql)
result = cursor.fetchall()
result

[('Korea', 56, 56)]

In [57]:
sql = """
    select country, test_score
    from INTERNATIONAL_STUDENT_TEST_SCORE
    group by country, test_score
    order by test_score desc
    
"""

cursor.execute(sql)
result = cursor.fetchall()
result

[('Korea', 56),
 ('United States', 54),
 ('Germnay', 53),
 ('Korea', 53),
 ('Turkey', 52),
 ('Ghana', 51),
 ('Korea', 51),
 ('England', 50)]

In [53]:
sql = """
    select country, test_score, count(test_score) as "count_test_score"
    from INTERNATIONAL_STUDENT_TEST_SCORE
    group by test_score, country
    
"""

cursor.execute(sql)
result = cursor.fetchall()
result

[('England', 50, 3),
 ('Ghana', 51, 3),
 ('Korea', 51, 2),
 ('Turkey', 52, 3),
 ('Germnay', 53, 3),
 ('Korea', 53, 1),
 ('United States', 54, 3),
 ('Korea', 56, 6)]

In [56]:
sql = """
    select country, test_score
    from INTERNATIONAL_STUDENT_TEST_SCORE
    group by country, test_score
    order by test_score 
    
"""

cursor.execute(sql)
result = cursor.fetchall()
result

[('England', 50),
 ('Ghana', 51),
 ('Korea', 51),
 ('Turkey', 52),
 ('Germnay', 53),
 ('Korea', 53),
 ('United States', 54),
 ('Korea', 56)]