In [1]:
number = []

for i in range(1,11):
    number.append(i)
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
for i in "Lessons":
    print(i)

L
e
s
s
o
n
s

In [5]:
for i in "Lesson":
    print(i, end=",")

L,e,s,s,o,n,

In [6]:
word = ""
for i in "ali":
    word = word + i
    print(word)
print(word)

a
al
ali
ali

In [14]:
user ={
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
}
for attribute in user:
    print(attribute)

('name', 'Daniel')
('surname', 'Smith')
('age', 35)

In [15]:
user ={
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
}
for attribute in user.values():
    print(attribute)

Daniel
Smith
35

In [16]:
user ={
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
}
for attribute in user.keys():
    print(attribute)

name
surname
age

In [17]:
user ={
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
}
for attribute in user.items():
    print(attribute)

('name', 'Daniel')
('surname', 'Smith')
('age', 35)

In [18]:
user ={
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
}
for key, value in user.items():
    print(key, "=>", value)

name => Daniel
surname => Smith
age => 35

In [4]:
num = int(input("enter a number"))
for i in range(11):
    print(f"{num} X {i} = {num*i}")

enter a number5
5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [5]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [11]:
tuple(range(0,11,2))

(0, 2, 4, 6, 8, 10)

In [13]:
print(*range(0,11))

0 1 2 3 4 5 6 7 8 9 10

In [1]:
print(*"john")

j o h n

In [5]:
print(*"100")
print(*100)

1 0 0

TypeError: print() argument after * must be an iterable, not int

In [13]:
evens=list()
odds = list()
for i in range(10):
    if not i % 2 :
        evens.append(i)
    else:
        odds.append(i)
print(evens)
print(odds)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [9]:
evens= [0,2,4,5,6]
odds = [1,3,5,7,9]
print(list(zip(evens, odds)))

[(0, 1), (2, 3), (4, 5), (5, 7), (6, 9)]

In [10]:
print(tuple(zip(evens, odds)))

((0, 1), (2, 3), (4, 5), (5, 7), (6, 9))

In [11]:
print(set(zip(evens, odds)))

{(0, 1), (6, 9), (4, 5), (5, 7), (2, 3)}

In [12]:
print(dict(zip(evens, odds)))

{0: 1, 2: 3, 4: 5, 5: 7, 6: 9}

In [15]:
numbers = (11,36,33,66,89,21,32,16,10)
odds = 0
evens = 0
for i in numbers:
    if not i % 2:
        evens += 1
    else:
        odds += 1
print("the number of even numbers: ", evens)
print("the number of odd numbers: ", odds)

the number of even numbers:  5
the number of odd numbers:  4

In [18]:
num = int(input("enter a number: "))

for i in range(num+1):
    print(i*str(i))

enter a number: 9

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [19]:
who = ["I am ", "You are "]
mood = ["happy", "confident"]
for i in who:
    for j in mood:
        print(i + j)

I am happy
I am confident
You are happy
You are confident