In [1]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer

In [4]:
f = open("/Users/aydin/Downloads/data.txt", "r", encoding='latin-1')
text = f.read()

In [8]:
df = pd.DataFrame({'sentence':sent_tokenize(text)})

In [9]:
df.head()

                                            sentence
0  The Project Gutenberg EBook of Man to Man, by ...
1  You may copy it, give it away or\nre-use it un...
2  MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...
3  ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...
4     MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n   III.

In [10]:
stop_word = stopwords.words('english')
lem = WordNetLemmatizer()

In [15]:
def cleaning(data):
    text_token = word_tokenize(data.lower())
    tokens_without_punc = [w for w in text_token if w.isalpha()]
    tokens_without_sw = [t for t in tokens_without_punc if t not in stop_word]
    text_cleaned = [lem.lemmatize(t) for t in tokens_without_sw]
    return " ".join(text_cleaned)

In [17]:
df['sentence1']=df.sentence.apply(cleaning)

In [18]:
df.head()

,sentence,sentence1
0,"The Project Gutenberg EBook of Man to Man, by ...",project gutenberg ebook man man jackson gregor...
1,"You may copy it, give it away or\nre-use it un...",may copy give away term project gutenberg lice...
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,man man jackson gregory author judith blue lak...
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,illustrated shepherd grosset dunlap publisher ...
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,miss blue cloak know beat iii

In [20]:
df['sentence2']=df.sentence1.apply(lambda x: x.split())

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
X_train = df['sentence1']

In [23]:
vectorizer = CountVectorizer()

In [24]:
vectorizer.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [25]:
len(vectorizer.get_feature_names())

5974

In [27]:
X_train_count = vectorizer.transform(X_train)

In [44]:
a = pd.DataFrame(X_train_count.toarray(), columns=tf_idf_vek.get_feature_names())

In [45]:
a.head()

,aback,abandoned,abide,abiding,ability,able,aboard,abreast,abrupt,abruptly,...,yielded,yielding,yonder,york,young,youngest,yourse,youth,youthful,zest
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [31]:
tf_idf_vek = TfidfVectorizer()

In [32]:
tf_idf_vek.fit(X_train)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [33]:
X_train__tf_idf = tf_idf_vek.transform(X_train)

In [34]:
X_train__tf_idf

<5560x5974 sparse matrix of type '<class 'numpy.float64'>'
	with 37098 stored elements in Compressed Sparse Row format>

In [35]:
b = pd.DataFrame(X_train__tf_idf.toarray(), columns=tf_idf_vek.get_feature_names())

In [36]:
b

,aback,abandoned,abide,abiding,ability,able,aboard,abreast,abrupt,abruptly,...,yielded,yielding,yonder,york,young,youngest,yourse,youth,youthful,zest
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.242012,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5555,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5557,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5558,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5559,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
b.sum().sort_values(ascending=False).head(50)

blenham    128.360228
steve      125.768268
packard    120.199328
terry      107.707614
said        96.127514
man         92.506243
know        83.903305
little      66.787684
barbee      65.030515
old         63.422005
come        55.026520
eye         54.913753
back        53.491803
one         51.743381
got         51.479906
way         50.261725
go          49.909066
like        47.275950
get         46.055100
royce       45.663666
hand        45.249600
time        45.128141
temple      44.649934
would       44.461495
bill        44.366097
asked       41.805647
want        41.014388
right       40.241971
came        39.659420
say         38.473603
going       38.259565
men         37.937675
see         35.686267
cried       35.431432
wood        35.350127
two         35.029899
guy         34.892769
well        34.755700
went        34.096359
thing       33.920778
look        33.361277
could       32.603259
let         32.599056
good        31.611120
big         30.354180
ten         30.157480
head        29.751713
upon        29.287107
horse       29.177197
word        27.622725
dtype: float64

In [46]:
a.sum().sort_values(ascending=False).head(50)

steve      542
packard    541
blenham    524
man        445
terry      409
said       307
little     291
old        284
eye        261
know       224
one        219
barbee     213
back       210
way        194
hand       193
would      185
time       179
like       174
come       170
temple     168
came       159
got        156
men        152
royce      150
go         145
upon       141
two        137
could      128
went       127
get        126
bill       125
big        124
right      122
wood       116
thing      114
head       113
horse      112
ranch      111
face       111
going      108
ten        107
made       106
see        103
guy        102
good       101
work       101
look       100
across      98
want        96
long        96
dtype: int64