In [14]:
 file = open("first_file.txt")

In [15]:
print(type(file))

<class '_io.TextIOWrapper'>

In [16]:
print(file.read(3))

Ali

In [17]:
print(file.read(3))

 ca

In [18]:
file.tell()

6

In [21]:
file.read(file.tell())

'n \nMan'

In [22]:
file.close()

In [27]:
file = open("first_file.txt", "r")
file.read(3)

'Ali'

In [28]:
file.read(file.tell())

' ca'

In [29]:
file.read(file.tell())

'n \nMan'

In [30]:
print(file.read(file.tell()))

 dan
Ran kan

In [32]:
file.seek(0)
file.read(3)

'Ali'

In [33]:
file.read()

' can \nMan dan\nRan kan\nHep yep\n'

In [34]:
file.seek(0)

0

In [35]:
file.read()

'Ali can \nMan dan\nRan kan\nHep yep\n'

In [37]:
file.seek(0)
print(file.read())

Ali can
Man dan
Ran kan
Hep yep

In [39]:
file.seek(0)
print(file.read(16))

Ali can
Man dan

In [40]:
file.close()

In [41]:
with open("first_file.txt") as file:
    print(file.readline())

Ali can

In [43]:
with open("first_file.txt") as file:
    print(file.readline(4))
    print(file.readline(4))
    print(file.readline(1))

Ali
can

In [46]:
file = open("first_file.txt")

In [47]:
 file.readline(4)

'Ali '

In [48]:
 file.readline(4)

'can '

In [49]:
file.readline(1)

'\n'

In [50]:
file.close()

In [51]:
file = open("first_file.txt")

In [52]:
file.readlines()

['Ali can \n', 'Man dan\n', 'Ran kan\n', 'Hep yep\n']

In [57]:
file.seek(0)
for i in file.readlines():
    print(i)

Ali can

Man dan

Ran kan

Hep yep

In [58]:
file.seek(0)
for i in file.readlines():
    print(i[:-1])

Ali can
Man dan
Ran kan
Hep yep

In [60]:
file.seek(0)
for i in file:
    print(i[:-1])

Ali can
Man dan
Ran kan
Hep yep

In [61]:
file.close()

In [3]:
with open("first_file.txt") as f:
    print(f.read())

Ali can
Man dan
Ran kan
Hep yep

In [4]:
with open("first_file.txt") as f:
    print(f.readline())
    print(f.readlines())

Ali can

['Man dan\n', 'Ran kan\n', 'Hep yep\n']

In [14]:
with open("dummy.txt", "w", encoding = "utf-8") as f:
    f.write("hello world")

In [15]:
with open("dummy.txt", "r", encoding = "utf-8") as f:
    print(f.read())

hello world

In [16]:
with open("dummy.txt", "a", encoding = "utf-8") as f:
    f.write("\nhello world")

In [17]:
with open("dummy.txt", "r", encoding = "utf-8") as f:
    print(f.read())

hello world
hello world

In [59]:
furit = ["apple", "banana", "orange", "cheery"]
with open("furit.txt", "w", encoding = "utf-8") as f:
    for i in furit:
        f.write(i + "\n")

In [60]:
with open("furit.txt", "r", encoding = "utf-8") as f:
    print(f.read())

apple
banana
orange
cheery

In [61]:
furit = ["apple\n", "banana\n", "orange\n", "cheery\n"]
with open("furit.txt", "w", encoding = "utf-8") as f:
    f.writelines(furit)

In [62]:
with open("furit.txt", "r", encoding = "utf-8") as f:
    print(f.read())

apple
banana
orange
cheery

In [63]:
with open("furit.txt", "a", encoding = "utf-8") as f:
    f.writelines("melon")

In [64]:
with open("furit.txt", "r", encoding = "utf-8") as f:
    print(f.read())

apple
banana
orange
cheery
melon

In [65]:
with open("furit.txt", "a", encoding = "utf-8") as f:
    f.writelines("\nwatermelon")

In [66]:
with open("furit.txt", "r", encoding = "utf-8") as f:
    print(f.read())

apple
banana
orange
cheery
melon
watermelon

In [67]:
fruit_list = list()
with open("furit.txt", "r", encoding = "utf-8") as f:
   fruit_list = f.readlines()

In [68]:
fruit_list

['apple\n', 'banana\n', 'orange\n', 'cheery\n', 'melon\n', 'watermelon']

In [69]:
count = 0
for i in range(len(fruit_list)):
    if i % 2 == 0 and i > 0:
        fruit_list.insert(i + count, "\n")
        count += 1
fruit_list

['apple\n',
 'banana\n',
 '\n',
 'orange\n',
 'cheery\n',
 '\n',
 'melon\n',
 'watermelon']

In [71]:
with open("furit.txt", "w", encoding = "utf-8") as f:
    f.writelines(fruit_list)

In [72]:
with open("furit.txt", "r", encoding = "utf-8") as f:
    print(f.read())

apple
banana

orange
cheery

melon
watermelon

In [73]:
furit = ["apple\n", "banana\n", "orange\n", "cheery\n"]
with open("furit.txt", "w", encoding = "utf-8") as f:
    f.writelines(furit)

In [77]:
count = 0
with open("furit.txt", "w", encoding = "utf-8") as f:
    for i in furit:
        count += 1
        if count %2 == 0:
            f.write(i + "\n")
        else:
            f.write(i)

In [78]:
with open("furit.txt", "r", encoding = "utf-8") as f:
    print(f.read())

apple
banana

orange
cheery

In [79]:
with open("furit.txt", "r", encoding = "utf-8") as f:
    list_f = f.readlines()

In [80]:
with open("furit.txt", "a", encoding = "utf-8") as f:
    f.write("\n")
    for i in list_f:
        if i == "\n":
            i.replace("\n", "")
        else:
            f.write(i)

In [81]:
with open("furit.txt", "r", encoding = "utf-8") as f:
    print(f.read())

apple
banana

orange
cheery


apple
banana
orange
cheery

In [82]:
toplacıkar = {"topla" : lambda x ,y : x+ y, "cıkar" : lambda x,y : x-y}

In [83]:
toplacıkar["topla"](9,3)

12

In [84]:
toplacıkar["cıkar"](9,3)

6

In [87]:
for i in [1,2,3,4,5]:
    print(i, ":", (lambda x : "even" if x % 2 == 0 else "odd")(i))

1 : odd
2 : even
3 : odd
4 : even
5 : odd

In [90]:
[i for i in range(8)]

[0, 1, 2, 3, 4, 5, 6, 7]

In [91]:
[i**i for i in range(8)]

[1, 1, 4, 27, 256, 3125, 46656, 823543]

In [93]:
{str(i) + " in karesi : " : i*i for i in range(6)}

{'0 in karesi : ': 0,
 '1 in karesi : ': 1,
 '2 in karesi : ': 4,
 '3 in karesi : ': 9,
 '4 in karesi : ': 16,
 '5 in karesi : ': 25}

In [94]:
from datetime import date

In [102]:
t = date.today()
print(t)
print(t.year)

2020-07-28
2020

In [103]:
print("bugün yıllardan: ", t.year)
print("bugün aylardan: ", t.month)
print("bugün günlerden: ", t.day)

bugün yıllardan:  2020
bugün aylardan:  7
bugün günlerden:  28

In [105]:
robot = ["right 20", "left 10", "up 30", "down 40"]
x = y = 0
for i in range(len(robot)):
    if robot[i].startswith("r"): x += int(robot[i].split()[1])
    elif robot[i].startswith("l"): x -= int(robot[i].split()[1])
    elif robot[i].startswith("u"): y += int(robot[i].split()[1])
    elif robot[i].startswith("d"): y -= int(robot[i].split()[1])
[x,y]

[10, -10]

In [7]:
with open("furit.cvc", "w", encoding = "utf-8") as f:
    f.writelines("col1, col2, col3\n")
    f.writelines("fr1, fr2, fr3\n")
    f.writelines("sr1, sr2, sr3\n")
    f.writelines("tr1, sr2, tr3\n")

In [8]:
with open("furit.cvc", "r", encoding = "utf-8") as f:
    print(f.read())

col1, col2, col3
fr1, fr2, fr3
sr1, sr2, sr3
tr1, sr2, tr3

In [9]:
with open("furit.cvc", "w", encoding = "utf-8") as f:
    f.writelines("rownum, fname, lname, age\n")
    f.writelines("1, ali, can, 22\n")
    f.writelines("2, veli, can, 24\n")
    f.writelines("3, tan, can, 25\n")
    f.writelines("4, han, can, 27\n")
    f.writelines("5, kan, can, 29\n")

In [10]:
with open("furit.cvc", "r", encoding = "utf-8") as f:
    print(f.read())

rownum, fname, lname, age
1, ali, can, 22
2, veli, can, 24
3, tan, can, 25
4, han, can, 27
5, kan, can, 29

In [11]:
import csv

In [13]:
with open("furit.cvc", "r", newline = '', encoding = "utf-8") as f:
    csv_rows = csv.reader(f)
    
    for row in csv_rows:
        print(row)

['rownum', ' fname', ' lname', ' age']
['1', ' ali', ' can', ' 22']
['2', ' veli', ' can', ' 24']
['3', ' tan', ' can', ' 25']
['4', ' han', ' can', ' 27']
['5', ' kan', ' can', ' 29']

In [14]:
with open("furit.cvc", "r", newline = '', encoding = "utf-8") as f:
    csv_rows = csv.reader(f, delimiter = ":")
    
    for row in csv_rows:
        print(row)

['rownum, fname, lname, age']
['1, ali, can, 22']
['2, veli, can, 24']
['3, tan, can, 25']
['4, han, can, 27']
['5, kan, can, 29']

In [16]:
with open("furit.cvc", "r", newline = '', encoding = "utf-8") as f:
    csv_rows = csv.reader(f, delimiter = ":")
    print(list(csv_rows) [1:2])

[['1, ali, can, 22']]

In [20]:

df = pandas.read_csv("furit.cvc")

In [21]:
df

   rownum  fname  lname   age
0       1    ali    can    22
1       2   veli    can    24
2       3    tan    can    25
3       4    han    can    27
4       5    kan    can    29

In [22]:
df = pandas.read_csv("furit.cvc", index_col = 0)

In [23]:
df

        fname  lname   age
rownum
1         ali    can    22
2        veli    can    24
3         tan    can    25
4         han    can    27
5         kan    can    29