In [1]:
import numpy as np
import pandas as pd

In [6]:
ser = pd.Series([10,88,3,4,5])

In [4]:
arr = np.array([10,88,3,4,5])

In [5]:
arr[0]

10

In [7]:
ser

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [8]:
ser.dtype

dtype('int64')

In [10]:
type(ser)

pandas.core.series.Series

In [11]:
ser.size

5

In [12]:
ser.ndim

1

In [13]:
ser.values

array([10, 88,  3,  4,  5])

In [14]:
for i in ser:
    print(i)

10
88
3
4
5

In [17]:
[i for i in ser.values]

[10, 88, 3, 4, 5]

In [18]:
ser.head(3)

0    10
1    88
2     3
dtype: int64

In [19]:
ser.tail(3)

2    3
3    4
4    5
dtype: int64

In [21]:
pd.Series([i for i in 'clarusway'])

0    c
1    l
2    a
3    r
4    u
5    s
6    w
7    a
8    y
dtype: object

In [22]:
labals = ['a', 'b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20,'c':30}

In [23]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [25]:
pd.Series(data=my_list, index=labals)

a    10
b    20
c    30
dtype: int64

In [26]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [29]:
ser.isin([10,3])

0     True
1    False
2     True
3    False
4    False
dtype: bool

In [30]:
ser1 = pd.Series([1,2,3,4], index=['USA','GRM', 'USSR', 'JP'])

In [31]:
ser1

USA     1
GRM     2
USSR    3
JP      4
dtype: int64

In [36]:
ser2 = pd.Series([1,2,5,4], index=['USA','GRM', 'ITY', 'JP'])

In [33]:
ser2

USA    1
GRM    2
ITY    5
JP     4
dtype: int64

In [37]:
ser3 = pd.Series(data=labals)